*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: black;
  --white: white;
  --maximum-blue-purple: #a7a3ff;
  --ocean-blue: #4d47c3;
  --silver: #b5b5b5;
  --alice-blue: #f0efff;
}
body{
  font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header{
  padding: 30px 0;
}
header .logo{
  font-weight: 600;
  font-size: 20px;
  color: var(--black);
}